@import "tailwindcss";

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: "Instrument Sans", ui-sans-serif, system-ui, sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
        "Noto Color Emoji";
}
.dark-mode {
    background-color: #1a202c;
    color: #e2e8f0;
}

.dark-mode .bg-white {
    background-color: #2d3748;
    color: #e2e8f0;
}

.dark-mode .bg-gray-100 {
    background-color: #1a202c;
}

.dark-mode .bg-gray-200 {
    background-color: #2d3748;
}

.dark-mode .border-gray-200 {
    border-color: #4a5568;
}

.dark-mode .text-gray-500 {
    color: #a0aec0;
}

.dark-mode .text-gray-700 {
    color: #cbd5e0;
}

.dark-mode .text-gray-900 {
    color: #e2e8f0;
}

.active-link {
    background-color: #fefcbf;
    color: #ca8a04;
}

.dark-mode .active-link {
    background-color: #4a5568;
    color: #fcd34d;
}
